<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Indicador de carga-->
  <div class="loading-spinner" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando películas...</p>
    <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar> <!--La propiedad type indeterminate hace que la animación sea continua -->
  </div>
 <!-- Contenedor de filtros, se muestra cuando los datos ya están cargados -->
  <div class="filter-container" *ngIf="!isLoading">

    <!-- Filtro de texto para buscar por título -->
    <ion-item>
      <ion-label>Título:</ion-label>
      <ion-input [(ngModel)]="buscarTexto" placeholder="Buscar..."></ion-input>
    </ion-item>

    <!-- Filtro por género -->
    <ion-label>Género:</ion-label>
    <ion-item class="genre-item">
     
      <ion-select [(ngModel)]="generoSeleccionado" interface="popover">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option *ngFor="let genero of generos" [value]="genero">{{ genero }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Filtro por año de lanzamiento -->
    <ion-item>
      <ion-label>Año</ion-label>
      <ion-input type="number" [(ngModel)]="FechaLanzamiento" placeholder="Año"></ion-input>
    </ion-item>

    <ion-button color="primary" (click)="filtrar()">Buscar</ion-button>
  </div>

   <!-- Grid de películas, muestra las películas filtradas en ion-cards -->
  <div class="movies-grid">
    <ion-card *ngFor="let pelicula of peliculasFiltradas" 
              (click)="abrirModal(pelicula)" 
              [ngClass]="{'en-cartelera': pelicula.enCartel === 'true'}">
      <img [src]="pelicula.imagen" [alt]="pelicula.titulo" />
      <ion-card-header>
        <ion-card-title>{{ pelicula.titulo }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
