<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Indicador de carga -->
  <div *ngIf="isLoading" class="loading-spinner">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando películas...</p>
    <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
  </div>

  <!-- Filtros -->
  <div *ngIf="!isLoading" class="filter-container">
    <ion-item>
      <ion-label>Título:</ion-label>
      <ion-input [(ngModel)]="buscarTexto" placeholder="Palabra..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Género:</ion-label>
      <ion-select [(ngModel)]="generoSeleccionado" interface="popover">
        <ion-select-option value= "null">Todos</ion-select-option> 
        <ion-select-option *ngFor="let genero of generos" [value]="genero">{{ genero }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Reparto:</ion-label>
      <ion-input [(ngModel)]="buscarReparto" placeholder="Actor/Actriz..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Año:</ion-label>
      <ion-input type="number" [(ngModel)]="FechaLanzamiento" placeholder="Año"></ion-input>
    </ion-item>

    <ion-button color="primary" (click)="aplicarFiltros()">Buscar</ion-button>
  </div>

  <!-- Grid de películas -->
  <div class="movies-grid">
    <ion-card *ngFor="let pelicula of peliculasPaginadas" 
              (click)="abrirModal(pelicula)" 
              [ngClass]="{'en-cartelera': pelicula.enCartel === 'true'}">
      <img [src]="pelicula.imagen" [alt]="pelicula.titulo" />
      <ion-card-header>
        <ion-card-title>{{ pelicula.titulo }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

 <!-- Paginación -->
<div class="pagination" *ngIf="!isLoading && totalPaginas > 1">
  <div class="pagination-buttons">
    <ion-button (click)="paginaAnterior()" [disabled]="paginaActual === 1">← Anterior</ion-button>
    <span class="pagination-info">Página {{ paginaActual }} de {{ totalPaginas }}</span>
    <ion-button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">Siguiente →</ion-button>
  </div>
</div>
</ion-content>
