<ion-header>
  <!-- Barra de herramientas en el encabezado -->
  <ion-toolbar color="dark">
    <!-- Título dinámico basado en la película seleccionada -->
    <ion-title>{{ pelicula.titulo }}</ion-title>
    <ion-buttons slot="end">
      <!-- Botón para cerrar el modal -->
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="pelicula.imagen" />
  <p><strong>Año:</strong> {{ pelicula.fechaEstreno }}</p>
  <p><strong>Reparto:</strong> {{ pelicula.reparto}}</p>

  <!-- Lista de géneros -->
  <p>
    <strong>Géneros:</strong>
    <!-- Mostrar solo los primeros 2 géneros, con opción de expandir -->
    <span *ngIf="pelicula.genero.split(', ').length > 2 && !verGeneros">
      {{ pelicula.genero.split(', ').slice(0, 2)}}
      <ion-icon name="add-circle-outline" (click)="toggleGeneros()" class="toggle-icon"></ion-icon>
    </span>
    <!-- Mostrar todos los géneros si están expandidos -->
    <span *ngIf="pelicula.genero.split(', ').length > 2 && verGeneros">
      {{ pelicula.genero.split(', ') }}
      <ion-icon name="remove-circle-outline" (click)="toggleGeneros()" class="toggle-icon"></ion-icon>
    </span>
    <!-- Mostrar todos los géneros si hay 2 o menos -->
    <span *ngIf="pelicula.genero.split(', ').length <= 2">
      {{ pelicula.genero}}
    </span>
  </p>

  <!-- Resumen de la película -->
  <p>{{ pelicula.resumen }}</p>

  <!-- Sección de valoración -->
  <div class="rating-section">
    <p>Valoración media:</p>
    @if (valoracion()?.puntuacion === -1) {
      <div>
        <span> No hay ninguna valoracion</span>
      </div>
    } @else {
      <div class="stars">
        <!-- Mostrar estrellas dinámicamente basado en la valoración -->
        <ion-icon *ngFor="let star of stars" [name]="star"></ion-icon>
      </div>
      <p class="small-text">{{ valoracion()?.puntuacion }} de 5 </p>
    }
  </div>

  <!--Si la pelicula esta votada por el usuario el boton apararece en verde y se puede votar-->
  <span *ngIf="estaVotado">
    <ion-button color="danger" (click)="alertaVotado()">Valorar esta película</ion-button>
  </span>
  <span *ngIf="!estaVotado">
    <ion-button color="success"  (click)="valorarPelicula()">Valorar esta película</ion-button>
  </span>


  <!-- Botones dinámicos para clasificar la película -->
  @for (lista of listas(); track lista.id) {
    @if (listaSeleccionada().includes(lista.id)) {
      <ion-button class="seleccionado" (click)="removeDeLista(lista.id)">
        {{ lista.nombre }}
      </ion-button>
    } @else {
      <ion-button class="lista" (click)="addALista(lista.id)">
        {{ lista.nombre }}
      </ion-button>
    }
  }

  @if (enCartelera()){
    <!-- Botón para abrir la ubicación geográfica basada en el título de la película -->
    <ion-button (click)="abrirGeolocalizacion()">Abrir en Geolocalización</ion-button>
  }

</ion-content>
